/*-------- FONDOS --------*/

.sliderFondo {
    background-color: #ffcc00;
}

.fondoHavanna {
    background-image: url(../img/back.png);
}

.fondoBlanco {
    background-color: $color-blanco;
}

.fondoGris {
    background-color: #cac9c9;
}

.fondoSucursales {
    background-color: #e2b502;
}