.imagen-container {
    position: relative;
    overflow: hidden;
}
  
  .fotosExp {
    width: 100%;
    height: auto;
    transition: opacity 0.35s;
}
  
  .imagen-container {
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $color-amarillo-principal;
      opacity: 0;
      transition: opacity 0.35s;
    }
  
    &:hover::after {
      opacity: 0.35;
    }
}

.integrantes {
  width: 390px;
  height: 500px;
}

.fotosProductos {
    opacity: 100%;
    padding: 20px;
  
    &:hover {
      opacity: 50%;
      padding: 20px;
    }
}
  
  .fotosTienda {
    height: 300px;
  }
  
  .fotosProductosRelacionados {
    height: 150px;
  }

  .fotoConTextoAlfajores {
    background-image: url(../img/tienda/alfajores.png);
    @include fotosCategoriasTienda;
  }
  
  .fotoConTextoMerch {
    background-image: url(../img/tienda/Merchandising.jpg);
    @include fotosCategoriasTienda;
  }
  
  .fotoConTextoTienda {
    background-image: url(../img/tienda/tienda.png);
    @include fotosCategoriasTienda;
  }

.check {
    height: 15px;
    width: 15px;

}

.tamContainerAlfajor {
    height: 100%;
    width: 100%;
}